# Notification service
SERVER_PORT=8083

# SMTP notifications (Brevo)
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USERNAME=ab3f8f001@smtp-brevo.com
SMTP_PASSWORD=
MAIL_FROM=atlasdstudios@gmail.com
MAIL_FROM_NAME=Switch Pagos

# Actuator
MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=health,info
MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS=always
